In [70]:
import pandas as pd

In [71]:
df = pd.read_excel("../data/DiamondsPrices.xlsx")

In [72]:
df

,carat,cut,color,clarity,depth,table,price,x,y,z
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,0.23,Good,E,VS1,56.9,65.0,327,2022-05-04 00:00:00,2022-07-04 00:00:00,2.31
3,0.29,Premium,I,VS2,62.4,58.0,334,2022-02-04 00:00:00,4.23,2.63
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,2022-05-03 00:00:00
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,0.7,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,2022-12-06 00:00:00,3.74
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [73]:
df[df["carat"].isnull()]

  carat        cut color clarity  depth  table  price     x     y     z
6   NaN  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47

In [ ]:
for index, row in df.iterrows():
    # Satır döndürme
    pass

In [69]:
for column_name in df.columns:
    missing_df = df[df[column_name].isnull()]
    if len(missing_df)>0:
        print("Missing column name : ",column_name)
        print(missing_df.head())
        print("-"*100)

Missing column name :  carat
  carat        cut color clarity  depth  table  price     x     y     z  \
6   NaN  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47

   (6, carat)
6    0.568825
----------------------------------------------------------------------------------------------------
Missing column name :  x
   carat    cut color clarity  depth  table  price    x     y     z  \
65  0.28  Ideal     G    VVS2   61.4   56.0    553  NaN  4.22  2.58

    (6, carat)
65    0.568825
----------------------------------------------------------------------------------------------------
Missing column name :  z
   carat      cut color clarity  depth  table  price     x     y    z  \
26  0.24  Premium     I     VS1   62.5   57.0    355  3.97  3.94  NaN

    (6, carat)
26    0.568825
----------------------------------------------------------------------------------------------------

In [74]:
df["carat"] = pd.to_numeric(df["carat"], errors="coerce")

In [75]:
sum = 0
import numpy as np
for number in df["carat"]:
    if np.isnan(number):
        continue
    sum += number

mean_value = sum/len(df["carat"])
print(mean_value)

0.5688246199481026

In [76]:
df.at[6,"carat"] = 0.5688246199481026

In [82]:
df.loc[6]

carat       0.568825
cut        Very Good
color              I
clarity         VVS1
depth           62.3
table           57.0
price            336
x               3.95
y               3.98
z               2.47
Name: 6, dtype: object

In [44]:
len(df["carat"])

53940

In [2]:
from sklearn.impute import SimpleImputer

In [ ]:
si = SimpleImputer(strategy="mean")
df = si.fit_transform(df)

In [ ]:
from sklearn.neighbors import NearestNeighbors
from sklearn.svm import SVR